@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Lato );
@import "./variables-d.css";

@media screen and (max-width : 320px) {
	      
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;


	}

	html, body {
	    max-width: 320px;
	    height: auto;
	   
	  
	}

	h1,h2,h4,h5,p {
		font-family: var(--h-font-family);

	}

	h1 {
		font-size: var(--h1-font-size);
		color: var(--h-text-color);
	}

	h2 {
		font-size: var(--h2-font-size);
		color: var(--h-text-color);
	}


	h3 {
		font-family: var(--h3-font-family);
		font-size: var(--h3-font-size);
		color: var(--h3-text-color);
	}

	h4 {
		font-weight: 900;
	}

	p {
		font-family: var(--p-font-family);
		font-size: var(--p-font-size);
		color: var(--p-text-color);
	}

	/* header */

		header {
			width: 320px;
		}

		.header-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			height: 80px;
			background-color: #FFF;
			
		}

		/* menu ham */

		.header-menu-mobile {
			width: 22.5px;
			height: 15.02px;
			margin-top: 15px;
			margin-bottom: 15.05px;
			margin-left: -82px;
		}

		/* logo */

			.header-logo {
				width: 109px;
			    height: 25px;
			    display: flex;
			    flex-direction: column-reverse;
			    justify-content: center;
			    margin-left: 63.5px;
			    margin-top: 7px;
			}

		/* search box */
			.search-container {
				display: flex;
			    flex-direction: column-reverse;
			    width: 280px;
				height: 22px;
			    margin-left: 5px;
			    margin-top: -19px;
			}


			.search-container .search-line {
				display: flex;
				width: 280px;
				border-bottom: 1px solid #7A7A7A;
			}



			.search-container .search-input-container {
				width: 280px;
				height: inherit;
			}

			.text-busca  {
				border-style: none;
				width: 140px;
				height: 12.01px;
				border-style: none;
				font-family: Nunito;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 18px;
				color: #7A7A7A;
			}

			input:focus,
			select:focus,
			textarea:focus,
			button:focus {
			    outline: none;
			}


			.icon-search {
				width: 18px;
				height: 18px;
				margin-left: 116px;
				background-color: transparent;
				border-style: none;
				border-color: #FFF;
			    border-style: solid;
			    cursor: pointer;
			}

		/* minha conta */

			.nav-user-container {
			display: none;
			}

			.icon-user {
				display: none;
			}

			.user-name {
				display: none;
			}



		/* shopping mini-cart */

			.mini-cart-container { 
			    width: 37px;
			    height: 18px;
			    position: absolute;
			    left: 269px;
			    top: 12px;
			}
			    
			    
			


			.mini-cart-icon {
				display: absolute;
			    left: 263px;
				top: 15px;
			    width: 18px;
			    height: 18px;
				
			}



			.cart-badge-ellipse {
				width: 14px;
			    height: 14px;
			    background: #F8475F;
			    border-radius: 50%;
			    position: relative;
			    left: 21px;
			    top: -18px;
			}

			.cart-badge-number {
				position: absolute;
			    width: 6px;
			    height: 14px;
			    left: 4px;
			    top: 0px;
			    font-family: Nunito;
			    font-style: normal;
			    font-weight: bold;
			    font-size: 10px;
			    line-height: 14px;
			    color: #FFFFFF;
			}

	/* banner hero */

		.main-hero {
			display: flex;
			width: 320px;
			height: 191.19px;
		}

		.banner-desktop {
			display: none;
		}

		.banner-m-blend {
			width: 320px;
			height: 191.2px;
			background: rgba(0, 0, 0, 0.55);
			background-blend-mode: multiply;
			position: relative;
			top: -196px;
		}

		.banner-mobile{
			width: 320px;
			height: 191.2px;
		}

		.texto-hero {
			width: 277px;
			height: 131.13px;
		    position: absolute;
		    top: 118px;
		    left: 30px;
		}

		.texto-hero h1 {
			font-family: 'Nunito', sans-serif;
		    font-style: normal;
		    font-weight: 900;
		    font-size: 30px;
		    color: #FFF;
	    	line-height: 31px;
		}

		.texto-hero h2 {
			font-family: Nunito;
		    font-style: normal;
		    font-weight: bold;
		    font-size: 20px;
		    line-height: 22px;
		    color: #FFFFFF;
		}

		.hero-slider {
			display: flex;
		    width: 75.84px;
    		height: 7px;
		    position: absolute;
		    top: 251.76px;
		    left: 122.08px;
		}

		.hero-slider a {
			width: 6.99px;
			height: 7px;
		    left: 251.76px;
		    top: 122.08px;
		    background: #BDBDBD;
		    border-radius: 50%;
		    margin-right: 12px;
		}

		.hero-slider a:hover {
			background: #F8475F;
		}

	/* product slider */

		.product-slider-container {
			width: 306px;
			height: 334px;
			display: flex;
			flex-direction: column;
			margin-top: 25px;
		    margin-left: 7px;
		}


		.mais-vendidos {
			width: 138px;
			height: 28px;
			display: flex;
			flex-direction: column;
			margin-left: 12px;
		}

		.mais-vendidos h4 {
			font-family: Nunito, sans-serif;
			font-size: 20px;
			color: var(--h3-text-color);
			font-style: normal;
			font-weight: 900;
			line-height: 27px;
		}

		.mais-vendidos .prataleira-title-line {
			width: 32.5px;
			height: 0px;
			border-bottom: 3.5018px solid #C0C0C0;
		}


		.arrows-slider {
			display: none;

		}

		.arrows-slider .left-arrow {
			display: none;
		}


		.arrows-slider .right-arrow {
			display: none;
		}

		.products-boxes {
			width: 306px;
			height: 407px;
			margin-left: 7px;
			display: flex;
			justify-content: space-between;
			position: absolute;
		}

		.product-box1 {
			width: 141.81px;
			height: 263.66px;
			display: flex;
			flex-direction: column;
			position: absolute;
			margin-top: 54px;
			margin-right: 32.19px;
			margin-left: -7px;
		}




		.product-box2 {
			width: 141.81px;
			height: 263.66px;
			display: flex;
			flex-direction: column;
			position: absolute;
			margin-top: 54px;
			margin-right: 33.19px;
			margin-left: 155px;
		}


		.product-box3 {
			display: none;
		}


		.product-box4 {
			display: none;
		}

		.product-img {
			width: 132px;
			height: 122px;
			margin-top: ;
		}

	

	

		.product-title-rating {
			width: 140px;
			height: 23px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			position: absolute;
		    left: 0;

		}

		.product-title-rating .product-title h3 {
			font-family: Nunito;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			text-transform: uppercase;
			color: #7A7A7A;
		}

		.product-title-rating .star {
			text-align: center;
			line-height: 40px
		}

		.product-price {
			width: 181px;
		    height: 21px;
		    display: flex;
		    justify-content: center;
		    position: relative;
		    top: 60px;
		    left: -19px;

		}

		.product-price h4 {
			font-family: Nunito;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			color: #000000;
		}

		.price-installments {
			width: 181px;
			height: 12px;
			display: flex;
		    justify-content: center;
		    position: relative;
		    top: 64px;
		    left: -20px;
		}

		.price-installments p {
			font-family: Nunito;
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
			line-height: 15px;
			text-align: center;
			color: #7A7A7A;
		}

		.comprar-btn   {
			width: 140px;
			height: 36px;
		    background: #000;
		    border-radius: 5px;
		    display: flex;
		    justify-content: center;
		    position: absolute;
		    left: 0;
		    top: 227px;
		    font-family: Nunito;
		    font-style: normal;
		    font-weight: bold;
		    font-size: 12px;
		    line-height: 32px;
		    color: #FFF;
		    text-align: center;
		    cursor: pointer;
		    text-decoration: none;
		    border-style: hidden;  
			
		}


		.prataleira-slider {
			display: flex;
		    width: 75.84px;
    		height: 7px;
		    position: absolute;
		    top: 634.76px;
		    left: 122.08px;
		}

		.prataleira-slider a {
			width: 6.99px;
			height: 7px;
		    left: 251.76px;
		    top: 122.08px;
		    background: #BDBDBD;
		    border-radius: 50%;
		    margin-right: 12px;
		}

		.prataleira-slider a:hover {
			background: #F8475F;
		}


	/* NEWS */

		.news-container {
			width: 320px;
			height: 276px;
			display: flex;
			flex-direction: column;
			background: #F2F2F2;
			margin-top: 62px;
		}

		.campos-news {
			display: flex;
			flex-direction: column;
			width: 280px;
		    height: 173px;
		    display: flex;
		    align-self: center;
		    margin-top: 22px;
		    
		}



		.campos-off {
			
			width: 280px;
			height: 48px;
			margin-right: 8px;
			border-style: hidden;
			background: #FFFFFF;
			border-radius: 5px;
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 14px;
			align-items: center;
			color: #585858;
			padding-left: 16px;
			margin-bottom: 22px;
		}

		.news-btn, #btnSubmit:enabled {
			width: 280px;
			height: 48px;
			background: #000000;
			border-radius: 5px;
			border-style: none;
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 14px;
			align-items: center;
			text-align: center;
			color: #FFFFFF;
			cursor: pointer;
			margin-top: -14px;
		}


		.campos-off:focus {
			border: 1px solid #BDBDBD;
		}



		.news-container h2 {
			width: 287px;
			height: 44px;
			font-family: Lato;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 22px;
			margin-left: 16px;
			margin-top: 24px;
			align-items: center;
			color: #333333;
		}




		.name-label {
			display: none;
		}


		


		.email-label {
			display: none;
		}

	

		.input-email:valid + .email-label {
			color: transparent;
		}


	/* FOOTER */

		footer {
			width: 320px;
			height: 386px;
			background: #000000;
			display: flex;
		}



		.location > h2 {
			font-family: Nunito;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 27px;
			color: #FFFFFF;
			margin-top: 22px;
			margin-left: 16px;

		}

		.line-locat {
			width: 44.94px;
			border: 2.5px solid #FFFFFF;
			margin-top: 16.43px;
			margin-left: 16px;
		}

		.location-data {
			width: 238px;
			height: 92px;
			margin-top: 20.89px;
			margin-left: 16px;

		}

		.location-data > p {
			font-family: Nunito;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 25px;
			color: #FFF;
		}

		.footer-btns {
			width: 198 px;
			height: 101px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: center;
			margin-left: -198px;
			margin-top: 147px;
		}

		.btn-contact, .btn-contact-2 {
			width: 198px;
			height: 38px;
			background: #FFFFFF;
			border-radius: 5px;
			border-style: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;

		}

		.btn-contact > img {
			width: 16.88px;
			height: 13.51px;
			margin-right: 18.08px;
		}

		.btn-contact > h3 {
			width: 127px;
			height: 14px;
			font-family: Nunito;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 16px;
			color: #000000;
		}


		.btn-contact-2 > img {
			width: 15.19px;
			height: 18.58px;
			margin-right: 18.08px;
		}

		.btn-contact-2 > h3 {
			width: 127px;
			height: 28px;
			font-family: Nunito;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 12px;
			color: #000000;
		}

		.logos-footer {
			width: 224px;
			height: 35px;
			display: flex;
			justify-content: space-between;
			align-self: center;
			margin-left: -211px;
    		margin-top: 328px;
		}

		.logos-footer p {
			font-family: Nunito;
			font-style: normal;
			font-weight: normal;
			font-size: 10.6017px;
			line-height: 14px;
			color: #FFF;
			margin-bottom: 1.79px;

		}

		.bottom-line {
			width: 320px;
			height: 10px;
			background: #C0C0C0;
		}

}		

